@font-face {
    font-family: 'JosefinSans';
    src: url(JosefinSans.ttf);
}
html{
    color: white;
    background-color: black;
}
header{
    font-family: JosefinSans;
}
#title {
  margin-left: 20px;
  background-color: black;
  font-size: 66px;
}
#subtitle{
    font-size: 20px;
    margin-left: -20px;
}